# Data Cleaning and Processing

In [135]:
import pandas
import random

n = 999999 #27300000 #number of records in file
s = 50000 #desired sample size
filename = "data.txt"
skip = sorted(random.sample(range(n),n-s))
#df = pandas.read_csv(filename, skiprows=skip)

In [136]:
skip = skip + list(range(1000000, 27300000))

In [137]:
# takes a minite to run
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
# chunks = pd.read_csv("EastCoastDatathonMaterials/nyc_bikeshare.csv", chunksize=10000)
# i = 0
# for chunk in chunks:
#     i += 1    
#     if i == 150: 
#         NYC_bikeshare = chunk
#         break
NYC_bikeshare = pd.read_csv("EastCoastDatathonMaterials/nyc_bikeshare.csv", skiprows=skip)
NYC_bikeshare

,1829,06-01-13 00:03:47,06-01-13 00:34:16,265.0,436.0,15234,1.0,1984.0,1
0,1221,06-01-13 00:15:27,06-01-13 00:35:48,355.0,303.0,16937,0.0,NaN,0
1,200,06-01-13 00:16:19,06-01-13 00:19:39,293.0,475.0,18414,1.0,1983.0,1
2,915,06-01-13 00:37:56,06-01-13 00:53:11,143.0,83.0,19810,1.0,1985.0,1
3,1228,06-01-13 01:04:33,06-01-13 01:25:01,479.0,469.0,16481,1.0,1976.0,1
4,643,06-01-13 01:31:05,06-01-13 01:41:48,469.0,359.0,16481,1.0,1976.0,1
...,...,...,...,...,...,...,...,...,...
49995,281,09-27-13 08:44:42,09-27-13 08:49:23,254.0,284.0,18062,1.0,1968.0,1
49996,1378,09-27-13 08:48:52,09-27-13 09:11:50,293.0,2004.0,15236,1.0,1968.0,1
49997,550,09-27-13 08:49:33,09-27-13 08:58:43,383.0,444.0,16481,1.0,1984.0,2
49998,451,09-27-13 08:49:47,09-27-13 08:57:18,331.0,315.0,14935,1.0,1983.0,2
49999,324,09-27-13 08:50:01,09-27-13 08:55:25,540.0,526.0,18691,1.0,1976.0,1

In [140]:
NYC_bikeshare.columns = ['tripduration', 'starttime', 'stoptime', 'start_station_id', 'end_station_id', 'bikeid', 'usertype', 'birthyear', 'gender']
NYC_bikeshare.columns

Index(['tripduration', 'starttime', 'stoptime', 'start_station_id',
       'end_station_id', 'bikeid', 'usertype', 'birthyear', 'gender'],
      dtype='object')

In [141]:
NYC_bikeshare['starttime'] = pd.to_datetime(NYC_bikeshare['starttime'])
NYC_bikeshare['stoptime'] = pd.to_datetime(NYC_bikeshare['stoptime'])

In [124]:
NYC_weather = pd.read_csv("EastCoastDatathonMaterials/weather.csv")
NYC_weather['DATE'] = pd.to_datetime(NYC_weather['DATE'])

/usr/local/Cellar/python/3.7.3/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (13,14,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [125]:
NYC_weather_hourly = NYC_weather[NYC_weather['REPORT_TYPE'] == 'FM-15']
NYC_weather_hourly = NYC_weather_hourly[['DATE', 'HourlyDewPointTemperature', 'HourlyDryBulbTemperature', 'HourlyPrecipitation', 'HourlyWindSpeed']]
NYC_weather_hourly.columns = ['Date', 'DewTemp', 'DryTemp', 'Precip', 'Wspeed']
NYC_bikeshare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
tripduration        10000 non-null int64
starttime           10000 non-null datetime64[ns]
stoptime            10000 non-null datetime64[ns]
start_station_id    10000 non-null float64
end_station_id      9940 non-null float64
bikeid              10000 non-null int64
usertype            10000 non-null float64
birthyear           7735 non-null float64
gender              10000 non-null int64
dtypes: datetime64[ns](2), float64(4), int64(3)
memory usage: 703.2 KB

In [126]:
NYC_weather_hourly

                     Date DewTemp DryTemp  Precip  Wspeed
0     2013-01-01 00:51:00    24.0      39     0.0    10.0
1     2013-01-01 01:51:00    26.0      38     0.0     3.0
2     2013-01-01 02:51:00    27.0      39     0.0     7.0
3     2013-01-01 03:51:00    27.0      39     0.0     9.0
4     2013-01-01 04:51:00    27.0      39     0.0     7.0
...                   ...     ...     ...     ...     ...
81389 2019-12-31 11:51:00      35      40     NaN     5.0
81390 2019-12-31 12:51:00      36      41     NaN     NaN
81391 2019-12-31 13:51:00      37      43     NaN     6.0
81392 2019-12-31 14:51:00      36      43     NaN     7.0
81393 2019-12-31 15:51:00      34      44     NaN     5.0

[61264 rows x 5 columns]

In [127]:
def myfunc(date):
    return date.replace(microsecond=0,second=0,minute=0)
NYC_weather_hourly['Date'] = NYC_weather_hourly['Date'].apply(myfunc)

def checkweekday(date):
    return date.weekday()
NYC_weather_hourly['weekday'] = NYC_weather_hourly['Date'].apply(checkweekday)

In [128]:
cal = calendar()
holidays = cal.holidays(start=NYC_weather_hourly['Date'].min(), end=NYC_weather_hourly['Date'].max())

def checkholiday(date):
    return date.replace(hour=0) in holidays
NYC_weather_hourly['holiday'] = NYC_weather_hourly['Date'].apply(checkholiday)
# TODO: Add snow feature (0, 1) from daily data

In [129]:
NYC_weather_hourly

                     Date DewTemp DryTemp  Precip  Wspeed  weekday  holiday
0     2013-01-01 00:00:00    24.0      39     0.0    10.0        1     True
1     2013-01-01 01:00:00    26.0      38     0.0     3.0        1     True
2     2013-01-01 02:00:00    27.0      39     0.0     7.0        1     True
3     2013-01-01 03:00:00    27.0      39     0.0     9.0        1     True
4     2013-01-01 04:00:00    27.0      39     0.0     7.0        1     True
...                   ...     ...     ...     ...     ...      ...      ...
81389 2019-12-31 11:00:00      35      40     NaN     5.0        1    False
81390 2019-12-31 12:00:00      36      41     NaN     NaN        1    False
81391 2019-12-31 13:00:00      37      43     NaN     6.0        1    False
81392 2019-12-31 14:00:00      36      43     NaN     7.0        1    False
81393 2019-12-31 15:00:00      34      44     NaN     5.0        1    False

[61264 rows x 7 columns]

In [142]:
NYC_bikeshare['DDay'] = NYC_bikeshare['starttime'].apply(myfunc)

In [143]:
num_trips = NYC_bikeshare.groupby(['DDay', 'usertype']).count()[['tripduration']]
num_trips.reset_index(inplace=True)
num_trips = num_trips.pivot(index='DDay', columns='usertype', values='tripduration')
num_trips.columns=['cust_cnt', 'subs_cnt']

trip_duration = NYC_bikeshare.groupby(['DDay', 'usertype']).sum()[['tripduration']]
trip_duration.reset_index(inplace=True)
trip_duration = trip_duration.pivot(index='DDay', columns='usertype', values='tripduration')
trip_duration.columns=['cust_dur', 'subs_dur']

num_trips

                     cust_cnt  subs_cnt
DDay
2013-06-01 00:00:00       1.0       2.0
2013-06-01 01:00:00       NaN       2.0
2013-06-01 02:00:00       NaN       1.0
2013-06-01 03:00:00       2.0       NaN
2013-06-01 06:00:00       NaN       2.0
...                       ...       ...
2013-09-27 04:00:00       NaN       1.0
2013-09-27 05:00:00       NaN       2.0
2013-09-27 06:00:00       2.0      13.0
2013-09-27 07:00:00       1.0      29.0
2013-09-27 08:00:00       1.0      38.0

[2616 rows x 2 columns]

In [144]:
trip_duration

                     cust_dur  subs_dur
DDay
2013-06-01 00:00:00    1221.0    1115.0
2013-06-01 01:00:00       NaN    1871.0
2013-06-01 02:00:00       NaN    1021.0
2013-06-01 03:00:00    1335.0       NaN
2013-06-01 06:00:00       NaN    2290.0
...                       ...       ...
2013-09-27 04:00:00       NaN    1773.0
2013-09-27 05:00:00       NaN    1270.0
2013-09-27 06:00:00    2447.0    8601.0
2013-09-27 07:00:00     534.0   19358.0
2013-09-27 08:00:00     797.0   31185.0

[2616 rows x 2 columns]

In [133]:
# merge into NYC_weather_hourly
A = NYC_weather_hourly.set_index('Date')
mergeddf = A.merge(num_trips, left_index=True, right_index=True)
weather_cnt_dur = mergeddf.merge(trip_duration, left_index=True, right_index=True)

In [134]:
weather_cnt_dur

,DewTemp,DryTemp,Precip,Wspeed,weekday,holiday,cust_cnt,subs_cnt,cust_dur,subs_dur
2013-06-01 08:00:00,66.0,79,0.0,0.0,5,False,NaN,1.0,NaN,1040.0
2013-06-01 09:00:00,67.0,83,0.0,5.0,5,False,NaN,1.0,NaN,828.0
2013-06-01 11:00:00,68.0,88,0.0,5.0,5,False,NaN,1.0,NaN,713.0
2013-06-01 12:00:00,67.0,88,0.0,7.0,5,False,2.0,1.0,2649.0,811.0
2013-06-01 13:00:00,66.0,88,0.0,NaN,5,False,3.0,NaN,4751.0,NaN
...,...,...,...,...,...,...,...,...,...,...
2013-09-27 01:00:00,51,58,0.0,0.0,4,False,NaN,1.0,NaN,409.0
2013-09-27 05:00:00,48,58,0.0,6.0,4,False,NaN,1.0,NaN,629.0
2013-09-27 06:00:00,48,58,0.0,6.0,4,False,NaN,5.0,NaN,2105.0
2013-09-27 07:00:00,48,59,0.0,8.0,4,False,1.0,6.0,917.0,3012.0
2013-09-27 08:00:00,48,61,0.0,3.0,4,False,2.0,9.0,1025.0,7023.0

In [ ]:
#####################
# Useless code
#####################
# construct idea 1 dataframe
# start_time = max(np.min(NYC_bikeshare['starttime']),np.min(NYC_weather['DATE'])).replace(microsecond=0,second=0,minute=0)
# end_time = min(np.max(NYC_bikeshare['starttime']), np.max(NYC_weather['DATE'])).replace(microsecond=0,second=0,minute=0) + timedelta(hours=1)
# for testing:
start_time = min(np.min(NYC_bikeshare['starttime']),np.min(NYC_weather['DATE'])).replace(microsecond=0,second=0,minute=0)
end_time = max(np.max(NYC_bikeshare['starttime']), np.max(NYC_weather['DATE'])).replace(microsecond=0,second=0,minute=0) + timedelta(hours=1)
a = pd.date_range(start=start_time, end=end_time, freq='H')